<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Appenders>
        <RollingFile name="RollingFile"
                     fileName="target/logs/logfile_test.log"
                     filePattern="target/logs/app-%d{MM-dd-yyyy} -%i.log">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
                </pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="1 KB" />
            </Policies>
            <DefaultRolloverStrategy max="1">
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name = "edu.pet_project.studentorder.dao"
        level="all" additivity="false">
            <AppenderRef ref="RollingFile"/>
        </Logger>

        <Root level="error" additivity="false">
            <appender-ref ref="RollingFile" />
        </Root>
    </Loggers>
</Configuration>